doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    title Baby Register Details
    link(
      rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      )
  body
    .container
      h2 Baby Register Details
      table.table.table-striped 
        thead
          tr
            th(scope="col") Baby's Name
            th(scope="col") Baby's Age
            th(scope="col") Baby's Gender
            th(scope="col") Parent's Names
            th(scope="col") Parent's Contact
            th(scope="col") Fee Paid (UGX)
            th(scope="col") Period of Stay
            th(scope="col") Child Number
            th(scope="col") Location
            th(scope="col") Checkin 
            th(scope="col") Delete
            th(scope="col") Update  

        tbody
         if babies.length
         each baby in babies
          tr
            td #{baby.name}
            td #{baby.age}
            td #{baby.babygender}
            td #{baby.fatherNames}
            td #{baby.fatherContact}
            td #{baby.schoolfeePaid}
            td #{baby.babyperiodOfStay}
            td #{baby.babychildNumber}
            td #{baby.address} 
            td 
              a.btn.btn-secondary.btn-sm(href="") Check In 
            td
              a.btn.btn-danger.btn-sm(href="/delete") Delete 
            td   
              a.btn.btn-primary.btn-sm(href="/babiesupdate/"+ baby._id) Update