doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    title Sitters Form
    // Bootstrap CSS
    link(
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
      )
    // Custom CSS
    link(
      href="/user/Babysitters/sit.css" 
      rel="stylesheet"
      )
  body
    .container
      //- h2 Sitters Dashboard
      //- form#sittersForm
        // Your form fields
      // Sitters Table
      h2 Sitters List
      table.table
        thead
          tr
            th Full Name
            th Gender 
            th Email 
            th DateofBirth
            th Next of Kin
            th NIN
            th Religion
            th Phone Number
            th Address
            th Experience
            th Recommenders Name
            th Level of Education
            th Role 
            th Sitter Number
            th Availability
            th Update
            th Delete

        tbody
         if sitters.length
         each sitter in sitters
          tr
            td #{sitter.name}
            td #{sitter.gender}
            td #{sitter.email}
            td #{sitter.dateofBirth}
            td #{sitter.nextofKin}
            td #{sitter.nin}
            td #{sitter.religion}
            td #{sitter.phonenumber}
            td #{sitter.currentAddress}
            td #{sitter. Experience}
            td #{sitter.recommendersname}
            td #{sitter.levelofeducation}
            td #{sitter.role}
            td #{sitter.sitternumber}
            td #{sitter.Availability}
            td 
             a.btn.btn-primary.btn-sm(href="/sittersupdate/"+ sitter._id) Update
            td 
               form(method="POST" action="/sitterdelete")
                   input(type="hidden" name="id" value=sitter._id)
                   button.btn.btn-danger.btn-sm(type="submit") Delete


          // More rows can be added dynamically
    footer.footer
      div
        p Daystar Management 2024
    // Bootstrap Bundle with Popper
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js")
    // Your custom JavaScript
    script(src="/Babysitters/occupy.js")